In [72]:
import matplotlib
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline  
import pandas as pd
df_application = pd.read_csv('application_train.csv')
df_application_test = pd.read_csv('application_test.csv')

from pandas_summary import DataFrameSummary
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import cross_val_score
# bureau_balance.csv
# bureau.csv
# credit_card_balance.csv
# installments_payments.csv
# POS_CASH_balance.csv
# previous_application.csv
# sample_submission.csv

In [57]:
df_application.head(5)
df_application.shape

(307511, 122)

In [41]:
DataFrameSummary(df_application).summary().T

,count,mean,std,min,25%,50%,75%,max,counts,uniques,missing,missing_perc,types
SK_ID_CURR,307511,278181,102790,100002,189146,278202,367142,456255,307511,307511,0,0%,numeric
TARGET,307511,0.0807288,0.272419,0,0,0,0,1,307511,2,0,0%,bool
NAME_CONTRACT_TYPE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,307511,2,0,0%,bool
CODE_GENDER,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,307511,3,0,0%,categorical
FLAG_OWN_CAR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,307511,2,0,0%,bool
FLAG_OWN_REALTY,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,307511,2,0,0%,bool
CNT_CHILDREN,307511,0.417052,0.722121,0,0,0,1,19,307511,15,0,0%,numeric
AMT_INCOME_TOTAL,307511,168798,237123,25650,112500,147150,202500,1.17e+08,307511,2548,0,0%,numeric
AMT_CREDIT,307511,599026,402491,45000,270000,513531,808650,4.05e+06,307511,5603,0,0%,numeric
AMT_ANNUITY,307499,27108.6,14493.7,1615.5,16524,24903,34596,258026,307499,13672,12,0.00%,numeric
AMT_GOODS_PRICE,307233,538396,369446,40500,238500,450000,679500,4.05e+06,307233,1002,278,0.09%,numeric
NAME_TYPE_SUITE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,306219,7,1292,0.42%,categorical
NAME_INCOME_TYPE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,307511,8,0,0%,categorical
NAME_EDUCATION_TYPE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,307511,5,0,0%,categorical
NAME_FAMILY_STATUS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,307511,6,0,0%,categorical
NAME_HOUSING_TYPE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,307511,6,0,0%,categorical
REGION_POPULATION_RELATIVE,307511,0.0208681,0.0138313,0.00029,0.010006,0.01885,0.028663,0.072508,307511,81,0,0%,numeric
DAYS_BIRTH,307511,-16037,4363.99,-25229,-19682,-15750,-12413,-7489,307511,17460,0,0%,numeric
DAYS_EMPLOYED,307511,63815,141276,-17912,-2760,-1213,-289,365243,307511,12574,0,0%,numeric
DAYS_REGISTRATION,307511,-4986.12,3522.89,-24672,-7479.5,-4504,-2010,0,307511,15688,0,0%,numeric
DAYS_ID_PUBLISH,307511,-2994.2,1509.45,-7197,-4299,-3254,-1720,0,307511,6168,0,0%,numeric
OWN_CAR_AGE,104582,12.0611,11.9448,0,5,9,15,91,104582,62,202929,65.99%,numeric
FLAG_MOBIL,307511,0.999997,0.00180331,0,1,1,1,1,307511,2,0,0%,bool
FLAG_EMP_PHONE,307511,0.819889,0.38428,0,1,1,1,1,307511,2,0,0%,bool
FLAG_WORK_PHONE,307511,0.199368,0.399526,0,0,0,0,1,307511,2,0,0%,bool
FLAG_CONT_MOBILE,307511,0.998133,0.0431639,0,1,1,1,1,307511,2,0,0%,bool
FLAG_PHONE,307511,0.281066,0.449521,0,0,0,1,1,307511,2,0,0%,bool
FLAG_EMAIL,307511,0.0567199,0.231307,0,0,0,0,1,307511,2,0,0%,bool
OCCUPATION_TYPE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,211120,18,96391,31.35%,categorical
CNT_FAM_MEMBERS,307509,2.15267,0.910682,1,2,2,3,20,307509,17,2,0.00%,numeric
...,...,...,...,...,...,...,...,...,...,...,...,...,...
DEF_30_CNT_SOCIAL_CIRCLE,306490,0.143421,0.446698,0,0,0,0,34,306490,10,1021,0.33%,numeric
OBS_60_CNT_SOCIAL_CIRCLE,306490,1.40529,2.3798,0,0,0,2,344,306490,33,1021,0.33%,numeric
DEF_60_CNT_SOCIAL_CIRCLE,306490,0.100049,0.362291,0,0,0,0,24,306490,9,1021,0.33%,numeric
DAYS_LAST_PHONE_CHANGE,307510,-962.859,826.808,-4292,-1570,-757,-274,0,307510,3773,1,0.00%,numeric
FLAG_DOCUMENT_2,307511,4.22749e-05,0.00650179,0,0,0,0,1,307511,2,0,0%,bool
FLAG_DOCUMENT_3,307511,0.710023,0.453752,0,0,1,1,1,307511,2,0,0%,bool
FLAG_DOCUMENT_4,307511,8.12979e-05,0.00901618,0,0,0,0,1,307511,2,0,0%,bool
FLAG_DOCUMENT_5,307511,0.0151149,0.12201,0,0,0,0,1,307511,2,0,0%,bool
FLAG_DOCUMENT_6,307511,0.0880554,0.283376,0,0,0,0,1,307511,2,0,0%,bool
FLAG_DOCUMENT_7,307511,0.000191863,0.0138502,0,0,0,0,1,307511,2,0,0%,bool
FLAG_DOCUMENT_8,307511,0.081376,0.273412,0,0,0,0,1,307511,2,0,0%,bool
FLAG_DOCUMENT_9,307511,0.0038958,0.0622947,0,0,0,0,1,307511,2,0,0%,bool
FLAG_DOCUMENT_10,307511,2.27634e-05,0.00477106,0,0,0,0,1,307511,2,0,0%,bool
FLAG_DOCUMENT_11,307511,0.00391206,0.0624241,0,0,0,0,1,307511,2,0,0%,bool
FLAG_DOCUMENT_12,307511,6.50383e-06,0.00255026,0,0,0,0,1,307511,2,0,0%,bool
FLAG_DOCUMENT_13,307511,0.00352508,0.0592677,0,0,0,0,1,307511,2,0,0%,bool
FLAG_DOCUMENT_14,307511,0.00293648,0.0541098,0,0,0,0,1,307511,2,0,0%,bool
FLAG_DOCUMENT_15,307511,0.00120971,0.0347599,0,0,0,0,1,307511,2,0,0%,bool
FLAG_DOCUMENT_16,307511,0.0099281,0.0991442,0,0,0,0,1,307511,2,0,0%,bool
FLAG_DOCUMENT_17,307511,0.000266657,0.0163275,0,0,0,0,1,307511,2,0,0%,bool
FLAG_DOCUMENT_18,307511,0.00812979,0.0897982,0,0,0,0,1,307511,2,0,0%,bool
FLAG_DOCUMENT_19,307511,0.000595101,0.0243875,0,0,0,0,1,307511,2,0,0%,bool
FLAG_DOCUMENT_20,307511,0.000507299,0.0225176,0,0,0,0,1,307511,2,0,0%,bool
FLAG_DOCUMENT_21,307511,0.000334947,0.0182985,0,0,0,0,1,307511,2,0,0%,bool
AMT_REQ_CREDIT_BUREAU_HOUR,265992,0.00640245,0.0838491,0,0,0,0,4,265992,5,41519,13.50%,numeric
AMT_REQ_CREDIT_BUREAU_DAY,265992,0.00700021,0.110757,0,0,0,0,9,265992,9,41519,13.50%,numeric
AMT_REQ_CREDIT_BUREAU_WEEK,265992,0.0343619,0.204685,0,0,0,0,8,265992,9,41519,13.50%,numeric
AMT_REQ_CREDIT_BUREAU_MON,265992,0.267395,0.916002,0,0,0,0,27,265992,24,41519,13.50%,numeric
AMT_REQ_CREDIT_BUREAU_QRT,265992,0.265474,0.794056,0,0,0,0,261,265992,11,41519,13.50%,numeric
AMT_REQ_CREDIT_BUREAU_YEAR,265992,1.89997,1.86929,0,0,1,3,25,265992,25,41519,13.50%,numeric

In [58]:
# Create a label encoder object
le = LabelEncoder()
le_count = 0
oh_count = 0
oh_df =pd.DataFrame()
# Iterate through the columns
for col in df_application:
    if df_application[col].dtype == 'object':
        # If 2 or fewer unique categories
        if len(list(df_application[col].unique())) <= 2:
            print('le :' + col)
            # Train on the training data
            le.fit(df_application[col])
            # Transform both training and testing data
            df_application[col] = le.transform(df_application[col])
            #df_application[col] = le.transform(df_application[col])
            
            # Keep track of how many columns were label encoded
            le_count += 1
        else:
            print('ce: ' +col)
            oh_df = pd.concat([oh_df,pd.get_dummies(df_application[col],prefix=col+'_')],axis=1)
            df_application.drop([col],axis=1, inplace=True)
                              
print('%d columns were label encoded.' % le_count)

le :NAME_CONTRACT_TYPE
ce: CODE_GENDER
le :FLAG_OWN_CAR
le :FLAG_OWN_REALTY
ce: NAME_TYPE_SUITE
ce: NAME_INCOME_TYPE
ce: NAME_EDUCATION_TYPE
ce: NAME_FAMILY_STATUS
ce: NAME_HOUSING_TYPE
ce: OCCUPATION_TYPE
ce: WEEKDAY_APPR_PROCESS_START
ce: ORGANIZATION_TYPE
ce: FONDKAPREMONT_MODE
ce: HOUSETYPE_MODE
ce: WALLSMATERIAL_MODE
ce: EMERGENCYSTATE_MODE
3 columns were label encoded.

In [59]:
df_application= pd.concat([df_application,oh_df],axis=1)

In [63]:
df_application.shape
df_application.dropna(axis=1,inplace=True)

In [66]:
def compute_score(clf, X, y, scoring='accuracy'):
    #http://scikit-learn.org/stable/auto_examples/model_selection/plot_roc_crossval.html#sphx-glr-auto-examples-model-selection-plot-roc-crossval-py
    xval = cross_val_score(clf, X, y, cv = 10, scoring=scoring)
    return np.mean(xval)

In [67]:
from sklearn.model_selection import train_test_split
X = df_application.drop(['TARGET'],axis=1)
y = df_application['TARGET']
train_features, test_features, train_labels, test_labels = \
train_test_split(X, y, test_size=0.1, random_state=42)

In [70]:

from sklearn.ensemble import RandomForestClassifier
rf_model = RandomForestClassifier(n_estimators = 100,
                                  random_state = 42,
                                  n_jobs=-1,
                                  oob_score=True,
                                  min_samples_split=2,
                                  min_samples_leaf=1,
                                  max_features='auto',
                                  bootstrap=True)
# Train the model on training data
rf_model.fit(train_features, train_labels)


#predictions = rf_model.predict(test_features)
accuracy =  compute_score(rf_model,test_features,test_labels)
print(accuracy)

0.9180866380865748